.content {
    width: 1090px;
  position: absolute;
  top: 112px;
  left: 241px;
  &__title{
      margin-top: 33px;
      border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  &__title-list{
      list-style: none;
      display: flex;
      font-size: 24px;
      li{
          margin-right: 48px;
      }
  }
}
